This XML file does not appear to have any style information associated with it. The document tree is shown below.
<juiceboxgallery useFlickr="true" flickrUserName="twitterbelaunch" flickrTags="twbe" flickrUserId="132157437@N05" flickrSetId="72157652392993786" flickrImageCount="58" flickrImageSize="MEDIUM" galleryTitle="#TWBE15" captionPosition="NONE" shareTwitter="true"/>
